{% if paginator.posts %}
<h1 class="category-title">{{ paginator.first_page_path | remove: "/" }}</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 post-wrapper">
  {% for post in paginator.posts %}
      <div class="post-card-con">
        <a href="{{ post.url }}" class="link-post_list">
          <div class="post-card">
            <div class="post-meta">
              <h2 class="post-title">{{ post.title }}</h2>
              <p class="post-date">{{ post.date | date: "%y-%m-%d" }}</p>
            </div>
            <div class="post-img-con">
              <img class="post-img" src="{{ post.thumbnail }}" alt="{{ post.title }}">
            </div>
            <div class="post-list-content">
              {{ post.description }}
            </div>
          </div>
        </a>
      </div>
  {% endfor %}
</div>
{% endif %}
<script src="/assets/script/infiniteScroll.js"></script>
<script>
  const postWrapper = '.post-wrapper';
  const paginatePath = "page";
  const hostStart = window.location.href.indexOf(window.location.hostname) + window.location.hostname.length;
  let categoryString = window.location.href.slice(hostStart, window.location.href.length);
  if (categoryString[0] === ':'){
    categoryString = categoryString.slice(5, categoryString.length);
  }
  new InfiniteScroll(paginatePath, postWrapper, categoryString);
</script>